<h2 class="page-header">Home</h2>
<p> Welcome to Chinese Checkers </p>

<form method="post">
  <button type="submit" class="btn btn-primary btn-block" formaction="/newgame">Start Game</button>
  <br>
  <button type="submit" class="btn btn-primary btn-block" formaction="/joingame">Join Game</button>
</form>
